<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#халяваблог</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"></link>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul class="row">
                    <li class="four columns"><a href="index.html">#Главная</a></li>
                    <li class="four columns"><a href="posts.html">#Посты</a></li>
                    <li class="four columns"><a href="contacts.html">#Контакты</a></li>
                </ul>
            </nav>
        </header>
        <main class="row">
            <a href="https://github.com/MindHatter/otus-web-python/tree/master/03_blog">Просто ссылочка на гитхаб</a>
        </main>
        <footer class="row">
            <div>
                <span>
                    #халяваблог, 2021
                </span>
            </div>
        </footer>
    </div>
</body>
</html>