<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#халяваблог</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"></link>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul class="row">
                    <li class="four columns"><a href="index.html">#Главная</a></li>
                    <li class="four columns"><a href="posts.html">#Посты</a></li>
                    <li class="four columns"><a href="contacts.html">#Контакты</a></li>
                </ul>
            </nav>
        </header>
        <main class="row">
            <section class="nine columns">    
                <h5>Здесь скоро будут новые скидки</h5>
                <article class="row">
                    <h4><a href="post_detail.html">1 рубль за СберПортал</a></h4>
                    <p>Предыдущая версия без голосового ассистента, звука, экрана и выхода в интернет</p>
                </article>
                <article class="row">
                    <h4>Epic Games раздает бесплатно 10 игр за раз!</h4>
                    <p>Осталось только подписаться на пожизненную рассылку</p>
                </article>
                <article class="row">
                    <h4>Ив Роше здесь!</h4>
                    <p>Не хотели постить ерунду, но проплатили</p>
                </article>
            </section>
        </main>
        <footer class="row">
            <div>
                <span>
                    #халяваблог, 2021
                </span>
            </div>
        </footer>
    </div>
</body>
</html>